body{

}
ul{
    list-style-type: square; /* felsorolásjel */
    font-size: 4em; /* Amekkora az adott pontban lenne a betű, ahoz képest relatív érték*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: ghostwhite;
    overflow: hidden; /*Ha a tartalom nagyobb, mint az ul elem, akkor nem látszik, ami túllóg*/
    height: 0.8em;
    border-bottom: 1px solid red;
}
li{
    display: inline; /* Több elem megjelenik egy sorban, de nincs magassága*/
    display: inline-block; /* Több elem egy sorban, de már magassággal*/
    color: cornflowerblue;
    padding-left: 1em;
    vertical-align: bottom;
    margin-top: -0.8em; /* Negatív értéknél felcsúsztatja*/
    cursor: cell;
}
li:hover{
    color:gold;
    margin-bottom: 0.2em;
}
th{
    background-color: grey;
}
tr:nth-child(even){ /* Minden második, páros elem */
    background-color: lightblue;
}

/* Táblázatos elrendezés a form-nak*/
form{
    display: table;
    border-spacing: 0.3em;
}

fieldset{
    border: 0px;
    background-color: #d6d6d6;
    padding: 0.5em;
    padding-top: 2em;
    color: #515151;
}

fieldset:nth-child(odd){
    background-color: #cacaca;
}

legend{
    padding: 0;
    margin-top: -1.7em;
    font-weight: bold;
    position: absolute;
    color: #515151;
}
/* a fieldset leszármazott div-jei kivéve a .note*/
fieldset>div:not(.note){
    padding-top: 1em;
    display: table-row;
}
fieldset>div:not(.note)>*{
    display: table-cell;
    vertical-align: middle;
}
/* a tartalom után betesz egy kettőspontot */
label:after{
    content: ":";
}
.note{
    font-size: 0.7em;
    padding-top: 0;
    padding-bottom: 1em;
}
.note p{
    margin: 0;
}
/* .note közvetlen a legend után*/
legend + .note{
    display: block;
    margin-top: -1em;
}